<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" |
        |    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Document</title>
        <style>
        </style>
    </head>

    <body>
        <div class="container">
            <div class="flex d-flex form-label mt-4 justify-content-between">
                <a href="/" style="text-decoration: none">
                    | <h1 class="me-4">Day n Nite Store</h1>
                    | </a>
                <form action="/" method="POST" class="d-flex flex mt-2 col-6">
                    <input type="search" name="searchbox" class="form-control px-3" aria-label="searchbox" |
                    |    placeholder="Search Here">
                    <button type="submit" class="ms-1 px-2" value="OK">GO</button>
                </form><a href="/signin" style="color: black; margin-top: 15px;">#{userid}</a>
            </div>
            <h2 class="mt-5 mb-4">Coupons For Buy</h2>
            <div>
                <div class="">
                    <p>Bazaar Coins : <span class="fw-bold">#{Coins[0].Bazaar_Coins}</span></p>
                    <p class="text-success text-center mb-5 fw-bold">500 Bazaar Coins Required for purchase any Coupon</p>
                    <p class="text-danger mb-2 text-center">#{error}</p>
                    <form action="/claim_coupons" method="post">
                        <div class="form-group mb-3">
                            <label class="ms-1">Select Coupon</label>
                            <select class="form-control mt-2" name="Coupon">
                                each val,index in Coupons
                                    <option>#{val.CouponCode}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Claim</button>
                    </form>
                    <div class="mt-5">
                        <h2 class="mb-3">Available Coupons for purchase</h2>
                        each val,index in Coupons
                            <p><span class="fw-bold">#{val.CouponCode}</span> </br><span me-2>Discount Rate : #{val.Discount_Rate}%</span> </br>Maximum Discount : Rs. #{val.Maximum_Discount}</br>  Valid Till : #{val.Valid_Till}</p>
                    </div>
                    <div class="mt-5">
                        <h2 class="mb-3">Available Coupons on Your Account</h2>
                        each val,index in Available
                            <p><span class="fw-bold">#{val.CouponCode}</span> </br><span me-2>Discount Rate : #{val.Discount_Rate}%</span></br>Maximum Discount : Rs. #{val.Maximum_Discount}</br> Valid Till : #{val.Valid_Till}</br> Date of Allocating : #{val.Date_of_allocating}</p>
                    </div>
                </div>
            </div>




            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            |    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            |    crossorigin="anonymous"></script>
    </body>

</html>